{% extends 'base.html' %}

{% block head %}
<title>Item Tracker</title>
{% endblock %}

{% block body %}
<div>
    <h3 class="container">Item Tracker</h3>

    <ul>
        {% for item in items %}
        <li class="item">
            {{ item.content }}
            <button>Update</button>
            <button>Delete</button>
        </li>
        {% endfor %}
        
    </ul>

    <form action="/" method="POST" class="form">
        <input type="text" name="content" id="content">
        <button type="submit">Add Item</button>
    </form>
</div>
{% endblock %}
