{% extends 'base.html' %}

{% block head %}
<title>Item Tracker</title>
{% endblock %}

{% block body %}
<div>
    <h3 class="container">Item Tracker</h3>

    <ul>
        {% for item in items %}
        <li class="item">
            {{ item.content }}
            
            {% if item.status == 0 %}
            <a href="/update/{{item.id}}" style="background-color: rgb(187, 37, 37);">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            {% endif %}
            
            {% if item.status == 1 %}
            <a href="/update/{{item.id}}" style="background-color: rgb(214, 194, 41);">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            {% endif %}
            
            {% if item.status == 2 %}
            <a href="/update/{{item.id}}" style="background-color: rgb(56, 203, 37);">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            {% endif %}
            
            <a href="/delete/{{item.id}} ">Delete</a>
        </li>
        {% endfor %}
    </ul>

    <form action="/" method="POST" class="form">
        <input type="text" name="content" id="content">
        <button type="submit">Add Item</button>
    </form>
</div>
{% endblock %}